@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
  box-sizing: border-box;
 }

h1 {
  color: #8a03a5;
}

h2 {
  color: #8a03a5;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 4em;
  background-image: url(Pictures/dirtrally2.jpg);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: 10%;
}

.top img {
  width: 14em;
  height: 100%;
}

.social {
  display: flex;
  justify-content: space-evenly;
  width: 20em;
  margin-top: 9em;
  margin-right: 2%;
}

.social a {
  color: #8a03a5;
  font-size: 1.8em;
}

.social a:hover {
  color: #bdbdbd;
}

.links {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0.9em;
  background-color: #bdbdbd;
}

.links a:hover {
  color: #8a03a5;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 100%;
}

.homepage-info p {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
}

.homepage-info-top {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(189,189,189,1) 15%, rgba(189,189,189,1) 50%, rgba(189,189,189,1) 85%, rgba(255,255,255,1) 100%);
}

.homepage-info-top p {
  align-self: center;
  font-size: 1.5em;
  width: 25em;
}

.homepage-info-top img {
  height: 100%;
  width: 50em;
}

.homepage-video {
  width: 100%;
  height: 35em;
  display: flex;
  justify-content: center;
}

.homepage-video iframe {
  width: 50%;
  height: 100%;
}

.homepage-info-bot {
  display: flex;

}

.homepage-info-bot img {
  height: 50em;
  width: 100%;
}

footer {
  background-color: #303030;
}

.footer-info {
  display: flex;
  justify-content: space-evenly;
}

.footer-left {
  display: flex;
   flex-direction: column;
   justify-content: space-between ;
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-left p {
  color: #bdbdbd;
}

.footer-left nav a {
  color: #8a03a5;
}

.footer-right {
  background-color: #bdbdbd;
  border-radius: 5em;
  height: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer-right img {
  height: 100%;
  width: 15em;
}